# This workflow executes bash commands to automatically create the
# automatic markdown documentation of our JSON browser based on their
# JSON schemas. It is executed when a PR merges with the "main" branch

# For more information, check:
#   https://github.com/EbiEga/ega-metadata-schema/tree/main/docs/json_browser
#   https://docs.github.com/en/enterprise-server@3.3/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-when-a-pull-request-merges
#   https://github.com/ad-m/github-push-action#example-workflow-file
name: jsonschema-2-md

#! Change!
on:
  pull_request:
    branches: [ main ]

jobs:
  jsonschema-2-md:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
          persist-credentials: false

      - name: Markdown creation
        # We first set variables. Modify if the repo's structure changes.
        # After installing the program, we check if previous markdown exists. If so, we remove it.
        # Then we create new markdowns.
        run: |
          markdown_dir="./docs/json_browser/markdowns"
          schemas_dir="./schemas/"
          
          if [ -d "$markdown_dir" ] && [ -n "$(ls -A "$markdown_dir")" ]; then
            rm -f $markdown_dir/*.md
          fi

      - name: Commit changes
        run: |
          markdown_dir="./docs/json_browser/markdowns"
          git config --local  user.name "GitHub Actions Bot"
          git config --local  user.email "<>"
          git add $markdown_dir/*
          git commit -m "TEST-COMMIT"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
