name: Commit date to main
on:
  push:
    branches: [ main ]
jobs:
  date:
    runs-on: ubuntu-latest
    steps:
      # Checkout the branch
      - name: checkout
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: save current date
        run: |
          # do some operation that changes a file in the git repo
          mkdir -p ./test/created_by_workflow
          rm -f ./test/created_by_workflow/*
          cp ./test/test_a.txt ./test/created_by_workflow/

      - name: setup git config
        run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: commit
        run: |
          # Stage the file, commit and push
          git show-ref
          git branch
          git add -A
          git commit -m "new date commit"
          git push origin main
