# This workflow executes bash commands to automatically create the
# automatic markdown documentation of our JSON browser based on their
# JSON schemas. It is executed when a PR merges with the "main" branch

# For more information, check:
#   https://github.com/EbiEga/ega-metadata-schema/tree/main/docs/json_browser
#   https://docs.github.com/en/enterprise-server@3.3/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-when-a-pull-request-merges
name: jsonschema-2-md

#! Change!
on:
  pull_request:
    branches: [ main ]

jobs:
  jsonschema-2-md:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Markdown creation
        # We first set variables. Modify if the repo's structure changes.
        # After installing the program, we check if previous markdown exists. If so, we remove it.
        # Then we create new markdowns.
        run: |
          markdown_dir="~/docs/json_broswer/markdowns"
          schemas_dir="~/schemas"
          
          npm install -g @adobe/jsonschema2md 

          if [ -d "$markdown_dir" ] && [ -n "$(ls -A "$markdown_dir")" ]; then
            rm -f $markdown_dir/*.md
          fi
          
          jsonschema2md -d $schemas_dir -o $markdown_dir -e "json" -x -