# This workflow executes bash commands to automatically create the
# automatic markdown documentation of our JSON browser based on their
# JSON schemas. It is executed when a PR merges with the "main" branch

# For more information, check:
#   https://github.com/EbiEga/ega-metadata-schema/tree/main/docs/json_browser
#   https://docs.github.com/en/enterprise-server@3.3/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-when-a-pull-request-merges
name: jsonschema-2-md

#! Change!
on:
  pull_request:
    branches: [ main ]

jobs:
  jsonschema-2-md:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - run: npm install -g @adobe/jsonschema2md 
      - run: jsonschema2md --help
